<section class="sidebar-block author-sidebar">
    <p class="eyebrow">ABOUT THE AUTHOR</p>
    {% assign author = site.authors.Shifu-totto %}
    {% if author.avatar %}
    <img class="author-avatar" src="{{ site.baseurl }}{{ author.avatar }}" alt="{{ author.name }}">
    {% endif %}
    <h2>{{ author.name }}</h2>
    <p>{{ author.bio }}</p>
    {% if author.twitter %}<a class="sidebar-link" href="{{ author.twitter }}" target="_blank" rel="noopener">X / @Shifu_totto</a>{% endif %}
</section>

<section class="sidebar-block">
    <p class="eyebrow">NAVIGATION</p>
    <a class="sidebar-link" href="{{ site.baseurl }}/authors-list.html">著者について</a>
    <a class="sidebar-link" href="{{ site.baseurl }}/categories.html">カテゴリ</a>
    <a class="sidebar-link" href="{{ site.baseurl }}/tags.html">タグ</a>
    <a class="sidebar-link" href="{{ site.baseurl }}/contact.html">お問い合わせ</a>
</section>
